#general{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: auto;
    margin-top: 180px;
    }

#caja1{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: black;
    margin-top: 100px;
    margin-left: 60px;
    float: left;
}

#caja2{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: black;
    margin-top: 100px;
    margin-right: 60px;
    float: right;
    }

#caja3{
    border-radius: 100%;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: black;
    left: 145px;
    top: 150px;
        }
        
#caja4{
    border-radius: 50px;
    position: relative;
    width: 150px;
    height: 15px;
    background-color: black;
    left: 75px;
    top: 180px;
    }        