.contenedor{
    background: rgb(0, 255, 200);
    display: flex;
    flex-wrap: wrap;  
}


.cajacontenedor{
    background-color:rgb(17, 102, 6);
    width: 400px;
    height: 550px;
    margin: 20px;
} 

.cajaf1{
    background-color: darkkhaki;
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 15px;
    margin-bottom: 0px;
    }
    
.cajaf2{
    background-color: darkkhaki;
    width: 368px;
    height: 50px;
    margin: 15px;
    margin-bottom: 0px;

   
}
.cajaf3{
    background-color: darkkhaki;
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 15px;
    
    
}
.c2{
    height: 80px;
    
}

